body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blanchedalmond;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #ffffff;
    margin: 10px 10px;

    min-width: 60vw;
    min-height: 100vh;
}

.calculator {
    min-height: 500px;
    min-width: 400px;

    border: 2px solid #333333;
    padding: 8px;
    margin-top: -20px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    background-color: rgb(211, 211, 211);
}

.input-text {
    height: 60px;           
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 4px;
}
